@model Web.Mobile.Models.SponsoredDeveloper

<h2>@Model.DeveloperName</h2>
<img src="@Model.ImageUrl" alt="@Model.DeveloperName + image" width="40%" height="100%" style="float:left; margin-right: 10px;" />
@Model.Bio
